
@media screen and (max-width: 830px){
    #navbar-standart{
        display: none;
    }
    #offCanvas{
        display: block;
    }
    #tea-collection .col-12{
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 575px) {

    .slick-prev img {
        height: 30px;
        width: 30px;
    }

    .slick-next img {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 424px){

    .slick-prev img {
        height: 20px;
        width: 20px;
    }

    .slick-next img{
        height: 20px;
        width: 20px;
    }
}
