*{
    margin: 0;
    padding: 0;
}
#offCanvas{
    display: none;
}

.slick-initialized .slick-slide{
    display: flex;
    align-items: center;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}


.slick-slide img{
    display: flex;
    align-items: center;
}
.slick-prev{
    left: 12px;
}

.slick-prev.slick-arrow{
    color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    z-index: 100;
    
}
.slick-prev.slick-arrow::before{
    display: none;
}
.slick-next{
    color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    z-index: 100;
    right: 12px;
}
.slick-next.slick-arrow::before{
    display: none;
}
.slide1{
    background-image: url(../images/slider1.png);
    background-size: cover;
    background-position: center;
}

.slide3{
    background-image: url(../images/slider3.png);
    background-size: cover;
    background-position: center;
    height: auto;
}
#order-thank-you{
    display: none;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}